# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

doc/compile.bat
doc/fat32lib.doxy.txt
doc/pages/*.*
doc/pages/temp/*.*
doc/doxygen_preprocessor.exe
doc/readme.md
doc/layout.xml
ramdrv/debug/*.*
smlib/debug/*.*
win32io/debug/*.*
win32test/debug/*.*
vssver2.scc
*.vssscc
*.Admin-VAIO.Fernan.user
*.Windows8.Fernan.user
.vcproj.vspscc
fat32lib/deleted/*.*
fat32lib/debug/*.*
smlib/debug/*.*
*.mcs
debug/*.*
*.scc
*.suo
fat32app_console.ht
*.ncb
*.mptags
*.tagsrc
